Assignment 05: Python Crash Course Practice (Chapters 1‚Äì4)

üìò Based on ‚ÄúPython Crash Course‚Äù by Eric Matthes

Question 01: Palindrome Check

In [1]:
word = "madam"
print("Original word:", word)

reversed_word = word[::-1]
print("Reversed word:", reversed_word)

print("Is it a palindrome?")
print(word == reversed_word)

Original word: madam
Reversed word: madam
Is it a palindrome?
True

Question 02: Formatted Table

In [2]:
items = [("Pen", 10.5), ("Notebook", 45.0), ("Bag", 850.0)]
print("Items List:", items)
print("\nSerial\tItem\t\tPrice")
serial = 1
for item in items:
    print(str(serial) + "\t" + item[0] + "\t\t" + str(item[1]))
    serial = serial + 1

Items List: [('Pen', 10.5), ('Notebook', 45.0), ('Bag', 850.0)]

Serial	Item		Price
1	Pen		10.5
2	Notebook		45.0
3	Bag		850.0

Question 03: Vowel Counter

In [3]:
sentence = "Python is Amazing"
print("Original sentence:", sentence)

vowels = "aeiouAEIOU"
count = 0
for letter in sentence:
    if letter in vowels:
        count = count + 1

print("Total vowels:", count)

Original sentence: Python is Amazing
Total vowels: 5

Question 04: Discount Calculator

In [4]:
prices = [19.99, 5.50, 100.0]
discounted = []

for price in prices:
    new_price = price - (price * 0.15)
    discounted.append(new_price)

print("Original Prices:", prices)
print("Discounted Prices:", discounted)

print("\nOriginal\tDiscounted")
for i in range(3):
    print(str(prices[i]) + "\t\t" + str(discounted[i]))

Original Prices: [19.99, 5.5, 100.0]
Discounted Prices: [16.9915, 4.675, 85.0]

Original	Discounted
19.99		16.9915
5.5		4.675
100.0		85.0

Question 05: Phone Number Formatter

In [5]:
numbers = ["03123456789", "03001234567"]
print("Original\tFormatted")

for number in numbers:
    formatted = "+92-" + number[1:4] + "-" + number[4:]
    print(number + "\t" + formatted)

Original	Formatted
03123456789	+92-312-3456789
03001234567	+92-300-1234567

Question 06: Score Statistics

In [6]:
scores = (72, 85, 91, 58, 76)
print("Original Tuple:", scores)

score_list = list(scores)
print("Converted List:", score_list)

total = 0
for score in score_list:
    total = total + score

average = total / len(score_list)

print("Minimum Score:", min(score_list))
print("Maximum Score:", max(score_list))
print("Average Score:", average)

Original Tuple: (72, 85, 91, 58, 76)
Converted List: [72, 85, 91, 58, 76]
Minimum Score: 58
Maximum Score: 91
Average Score: 76.4

Question 07: Reverse Each Word in Sentence

In [7]:
sentence = "Python is fun"
print("Original Sentence:", sentence)

words = sentence.split()
reversed_words = []

for word in words:
    reversed_words.append(word[::-1])

print("Reversed Words Sentence:", " ".join(reversed_words))

Original Sentence: Python is fun
Reversed Words Sentence: nohtyP si nuf

Question 08: Running Sum List

In [8]:
nums = [1, 2, 3, 4, 5]
print("Original List:", nums)

running_sum = []
total = 0

for num in nums:
    total = total + num
    running_sum.append(total)

print("Running Sum List:", running_sum)

Original List: [1, 2, 3, 4, 5]
Running Sum List: [1, 3, 6, 10, 15]

Question 09: Interleave Two Lists

In [9]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
combined = []

for i in range(len(list1)):
    combined.append(list1[i])
    combined.append(list2[i])

print("List 1:", list1)
print("List 2:", list2)
print("Combined List:", combined)

List 1: [1, 2, 3]
List 2: ['a', 'b', 'c']
Combined List: [1, 'a', 2, 'b', 3, 'c']

Question 10: Repeat Letters

In [10]:
text = "Hello"
print("Original String:", text)

new_text = ""
for char in text:
    new_text = new_text + char + char

print("Doubled Letters:", new_text)

Original String: Hello
Doubled Letters: HHeelllloo