Assignment 04: Python Crash Course Practice (Chapters 2 - 4)

📘 Based on Python Crash Course by Eric Matthes (Chapters 2 to 4)

Part 1: Variables & Input

Q1. Favorite Movie Intro
Ask the user for:

Their name
Their favorite movie
Print a sentence like: Ali’s favorite movie is Interstellar.

In [1]:
name=input("What is your name? ")
movie=input("What is your favorite movie? ")
print(name + "'s favorite movie is " + movie + ".")
#

What is your name? Bhatti
What is your favorite movie? The Message
Bhatti's favorite movie is The Message.

Q2. Case Converter

Ask the user to enter a word.

Print:

The word in uppercase

The word in lowercase

The word in title case

In [2]:
word=input("Enter a word: ")
print(f'the {word} is in uppercase "{word.upper()}"')
print(f'the {word} is in lowercase "{word.lower()}"')
print(f'the {word} is in titlecase "{word.title()}"')

Enter a word: watan
the watan is in uppercase "WATAN"
the watan is in lowercase "watan"
the watan is in titlecase "Watan"

Q3. Simple Math with Input

Ask the user to input two numbers using input()

Convert them to int or float

Print:

Sum

Difference

Product

Quotient

In [3]:
num1=input("Enter a number: ")
num2=input("Enter another number: ")
num1=float(num1)
num2=float(num2)
print(f'The sum of {num1} and {num2} is {num1+num2}')
print(f'The difference of {num1} and {num2} is {num1-num2}')
print(f'The product of {num1} and {num2} is {num1*num2}')
print(f'The quotient of {num1} and {num2} is {num1/num2}')

Enter a number: 30
Enter another number: 5
The sum of 30.0 and 5.0 is 35.0
The difference of 30.0 and 5.0 is 25.0
The product of 30.0 and 5.0 is 150.0
The quotient of 30.0 and 5.0 is 6.0

Part 2: Lists & Indexing

Q4. My Friends List

Create a list of 4 friends’ names.

Print each name using a for loop.

In [4]:
names=['Ali','Amjad','Usama','Usman']
for name in names:
  print(name)
#

Ali
Amjad
Usama
Usman

Q5. Update Your List

Create a list of 3 favorite fruits.

Replace the second fruit with another.

Add one fruit to the end using .append().

Add one to the beginning using .insert(0, ...).

Print the list after each change.

In [5]:
fruits=['Apple','Peach','Grapes']
print(fruits)
fruits[1]='Mango'
print(fruits)
fruits.append('Banana')
print(fruits)
fruits.insert(0,'Orange')
print(fruits)
#

['Apple', 'Peach', 'Grapes']
['Apple', 'Mango', 'Grapes']
['Apple', 'Mango', 'Grapes', 'Banana']
['Orange', 'Apple', 'Mango', 'Grapes', 'Banana']

Q6. List Length Reporter

Ask the user to enter 5 favorite animals (use input()).

Store each animal in a list.

After collecting:

Print the total number of animals using len()

Print the first and last animal using indexing

In [6]:
print("Enter 5 favorite animals:")
animals=[]
for i in range(5):
  animal=input()
  animals.append(animal)
print(f'The total number of animals is {len(animals)}')
print(f'The first animal is {animals[0]}')
print(f'The last animal is {animals[-1]}')

Enter 5 favorite animals:
lion
cheeta
monkey
dog
cat
The total number of animals is 5
The first animal is lion
The last animal is cat

Part 3: For Loops & Ranges

Q7. Print Numbers

Use range() and for loop to:

Print numbers from 1 to 10

Print even numbers from 2 to 20

Print multiples of 5 from 5 to 50

In [13]:
print(f'The numbers from 1 to 10:\n')
for i in range(1,11):
  print(f'{i}\n')
print(f'The even numbers from 2 to 20:\n')
for i in range(2,21,2):
  print(f'{i}\n')
print(f'The multiples of 5 from 5 to 50:\n')
for i in (range(5,51,5)):
  print(f'{i}')

The numbers from 1 to 10:

1

2

3

4

5

6

7

8

9

10

The even numbers from 2 to 20:

2

4

6

8

10

12

14

16

18

20

The multiples of 5 from 5 to 50:

5
10
15
20
25
30
35
40
45
50

Q8. Squares Table

Use a for loop to print square numbers from 1 to 10:

In [15]:
for i in range(1,11):
  print(f'The square of {i} is {i**2}')
#

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

Part 4: List Comprehension & Slicing

Q9. Make a List of Cubes

Use list comprehension to generate cubes of numbers 1–5.

Print the list.

In [16]:
print([i*i*i for i in range(1,6)])

[1, 8, 27, 64, 125]

Q10. Top 3 Movies

Ask the user to enter 5 movie names using input().

Store them in a list.

Print:

The first 3 movies using slicing

The last 2 movies using slicing

In [17]:
print("Enter 5 movie names:")
movies=[]
for i in range(5):
  movie=input()
  movies.append(movie)
print(f'The first 3 movies are {movies[:3]}')
print(f'The last 2 movies are {movies[-2:]}')

Enter 5 movie names:
abc
cde
yhg
uyt
fgh
The first 3 movies are ['abc', 'cde', 'yhg']
The last 2 movies are ['uyt', 'fgh']

Q11. 🧑‍🏫 Top Students

Ask the user to enter names of 5 students using input() (one by one).

Store the names in a list.

Then:

Print a greeting for each student using a for loop.

Print only the top 3 students using slicing.

Copy the list using [:], then:

Add 2 new names to the copied list using .append()

Print both the original and the new list to show that the original is unchanged.

In [18]:
print('Enter names of 5 students:')
students=[]
for i in range(5):
  student=input()
  students.append(student)
for student in students:
  print(f'Hello {student}')
  print(f'Your name is {len(student)} characters long')
print(f'The top 3 students are {students[:3]}')
students_copy=students[:]
students_copy.append('Ali')
students_copy.append('Amjad')
print(f'The original list is {students}')
print(f'The copied list is {students_copy}')
#

Enter names of 5 students:
salman
khurram
aneeq
shafiq
iqbal
Hello salman
Your name is 6 characters long
Hello khurram
Your name is 7 characters long
Hello aneeq
Your name is 5 characters long
Hello shafiq
Your name is 6 characters long
Hello iqbal
Your name is 5 characters long
The top 3 students are ['salman', 'khurram', 'aneeq']
The original list is ['salman', 'khurram', 'aneeq', 'shafiq', 'iqbal']
The copied list is ['salman', 'khurram', 'aneeq', 'shafiq', 'iqbal', 'Ali', 'Amjad']

Q12. ✈️ Travel Wishlist

Create a list of 5 places you want to visit.

Print the original list.

Print a temporarily sorted list using sorted().

Sort the list in reverse alphabetical order using .sort(reverse=True).

Use .reverse() twice:

First to flip and print the list

Then to flip it back and print again

In [19]:
places=['RWP','KAR','ISL','FSD','LHR']
print(f'The original list is {places}')
print(f'The sorted list is {sorted(places)}')
places.sort(reverse=True)
print(f'The sorted list is {places}')

The original list is ['RWP', 'KAR', 'ISL', 'FSD', 'LHR']
The sorted list is ['FSD', 'ISL', 'KAR', 'LHR', 'RWP']
The sorted list is ['RWP', 'LHR', 'KAR', 'ISL', 'FSD']

Mini Challenge: Name Art Generator

Combine your understanding of input, lists, string slicing, for loops, and list length.

🧩 Task:

Ask the user to enter their name.

Convert the name to a list of characters.

Print each character on a new line using a for loop.

Then print:

The first 3 letters

The last 2 letters

The total number of letters using len()

In [21]:
print("Enter your name:")
name=input()
name_list=list(name)
for letter in name_list:
  print(letter)
print(f'The first 3 letters are {name_list[:3]}')
print(f'The last 2 letters are {name_list[-2:]}')
print(f'The total number of letters is {len(name_list)}')

Enter your name:
iqbal
i
q
b
a
l
The first 3 letters are ['i', 'q', 'b']
The last 2 letters are ['a', 'l']
The total number of letters is 5